__pycache__/
*.pyc
.venv/
venv/
.env
*.key
.DS_Store

federated_vector_db/
**/.chroma/
*.sqlite
*.db

data/
*.csv
*.zip
*.pt
*.pth
*.onnx
*.pkl

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env*
